{% assign contact = site.data.data.contact %}
{% if contact %}
<section class="contact">
    <div class="title">Contatos</div>
    {% if contact.email %}
        <div class="contact-item">
            <i data-feather="mail"></i>
            <a href="#" alt="E-mail">
                {{contact.email}}
            </a>
        </div>
    {% endif %}

    {% if contact.phone %}
        <div class="contact-item">
            <i data-feather="phone"></i>
            <a href="#" alt="Telefone para contato">
                {{contact.phone}}
            </a>
        </div>
    {% endif %}

    {% if contact.github %}
        <div class="contact-item">
            <i data-feather="github"></i>
            <a href="https://github.com/{{contact.github}}" alt="Perfil do Gihut">
                {{contact.github}}
            </a>
        </div>
    {% endif %}

    {% if contact.linkedin %}
        <div class="contact-item">
            <i data-feather="linkedin"></i>
            <a href="https://linkedin.com/in/{{contact.linkedin}}" alt="Perfil do Linkedin">
                {{contact.linkedin}}
            </a>
        </div>
    {% endif %}

    {% if contact.twitter %}
        <div class="contact-item">
            <i data-feather="twitter"></i>
            <a href="https://twitter.com/{{contact.twitter}}" alt="Perfil do Twitter">
                {{contact.twitter}}
            </a>
        </div>
    {% endif %}

    {% if contact.gitlab %}
        <div class="contact-item">
            <i data-feather="gitlab"></i>
            <a href="https://gitlab.com/{{contact.gitlab}}" alt="Perfil do Gitlab">
                {{contact.gitlab}}
            </a>
        </div>
    {% endif %}
</section>
{% endif %}
